{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav>
    <ul style="display: flex; justify-content: space-around">
        <li><a href="{% url 'create' %}">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">More</a></li>
    </ul>
</nav>
<a href="{% url 'create' %}">Create User</a>
    {% for foo in base %}
        <h2>{{ foo.name }}</h2>
        <h2>{{ foo.age }}</h2>
        <h2>{{ foo.description }}</h2><br>
        <a href="{% url 'sec' foo.id %}">see more</a>
    {% endfor %}
{% block content %}

{% endblock %}

<footer>
    <center style="font-size: 30px">All rights reseved</center>
</footer>
</body>
</html>